@charset "UTF-8";

  body {
  font-family: 'DOSMyungjo';
     background-color: blue;
  margin: 0;
  padding: 0;
   }


nav {
	font-family: 'DOSMyungjo';
	text-align: center;
 	padding: 5px;

}

:focus-visible {
    outline: 3px solid #aaa;
}

ul, h2 {

  display: inline-block;
}

nav ul{

}
nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 3em;
  padding: 0 20px;
  
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  
  color: #fff;
}

nav h2{
  font-size: 1.3em;
}

#loginform {
	height: auto;
}
.dropdown{
    position: relative;
    display: block;
}
.button{
	font-family: 'DOSMyungjo';
    font-size:20px;
    background-color: #1fe0; ;
    color: black;
    border: none;
}
#drop-content{
    z-index: 1;

    color: black;
    border: none;
}
#drop-content1 a{
    display:block;
    font-size: 20px;
    background-color: #1fe0; ;
    color: black;
    text-decoration: none;
    padding: 10px 36px;
    margin: 2px 0px 0px 0px;
}
#drop-content2 a{
    display:block;
    font-size: 20px;
    background-color: #1fe0; ;
    color: black;
    text-decoration: none;
    padding: 10px 36px;
    margin: 2px 0px 0px 0px;
}
#drop-content3 a{
    display:block;
    font-size: 20px;
    background-color: #1fe0; ;
    color: black;
    text-decoration: none;
    padding: 10px 36px;
    margin: 2px 0px 0px 0px;
}
