@charset "UTF-8";

  body {
  font-family: 'DOSMyungjo';
     background-color: blue;
  margin: 0;
  padding: 0;
   }


nav {
	font-family: 'DOSMyungjo';
	text-align: center;
 	padding: 5px;

}

:focus-visible {
    outline: 3px solid #aaa;
}

ul, h2 {

  display: inline-block;
}

nav ul{

}
nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 3em;
  padding: 0 20px;
  
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  
  color: #fff;
}

nav h2{
  font-size: 1.3em;
}

#loginform {
	height: auto;
}
.dropbtn {
	font-family: 'DOSMyungjo';
    background-color: #1fe0; 
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
     display: block;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #1fe0;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1fe0;

    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #1fe0}

.show {display:block;}

.up {margin-bottom: auto;}